:root {
  --actual-height: 100vh;
  --header-height: 4rem;
  --padding-width: 1.5rem;
  --game-board-size: calc(100vw - var(--padding-width));
  --knob-size: calc(var(--game-board-size) / 6);
  --bg-color: #2d3c5a;
  --alt-bg-color: #213325;
  --text-color: rgb(200, 223, 200);
  --knob-color: maroon;
}

*, * *, * * *, * * * *, * * * * * {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}